html, body {
  background-color: #fff;
  color: #4A4A4A;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size:16px;
  height: 100%;
  margin: 0;
  position: relative;
  min-height: 100%;
}

h2{
  font-size:32px;
  color: #444444;
  font-family: 'Montserrat', sans-serif !important;
  font-weight:600;
  letter-spacing: 0;
}

.text,
input[type="text"]{
  font-family: 'Montserrat', sans-serif !important;
  font-weight:400;
  letter-spacing: 0;
  color: #4A4A4A !important;
  font-size:16px;
}

.input{
  width:100% !important;
}

.float-left{
  display:block;
  float:left;
}

.content-wrapper{
  min-height: calc(100vh - 140px);
  display: block;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

.navbar{
  margin-bottom: 0px !important;
}

.navbar a{
  color: #fff;
}

.navbar a:hover{
  background: none !important;
}

.bom-nav{
  float: right;
}

.bom-header,
.bom-footer{
  background-color: #F06338;
  color: #FFFFFF;
}

.bom-footer a{
  color: #FFFFFF;
}

.bom-footer{
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 65px;
}

.copyright,
.contact-link,
.poweredby{
  display: inline-block;
  padding: 20px 10px 0px 10px;
}

.poweredby{
  float: right;
}

.login-form-header{
  display:block;
  margin:40px auto;
}

.login-form-header h2{
  text-align:center;
  font-size:32px;
  color: #444444;
  font-family: 'Montserrat', sans-serif !important;
  font-weight:600;
  letter-spacing: 0;
}

.form-sublogin{
  font-size: 18px;
  color: #4A4A4A;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
  padding:20px 0px;
}

.form-container{
  display:block;
  margin:0 auto;
  max-width: 450px;
  //margin-top:13%;
}

.form-container input{
  background: #fff !important;
  border: 1px solid #D8D8D8;
  opacity: 0.4 !important;
  font-family: 'Montserrat' !important;
  font-size: 16px !important;
  color: #4A4A4A !important;
  letter-spacing: 0 !important;
  text-align: center !important;
  padding: 15px 0px !important;
}

.form-container button{
  color: #fff !important;
  font-family: 'Montserrat' !important;
  font-size: 18px !important;
  letter-spacing: 0 !important;
  background: #F06338 !important;
}

.form-login-link a{
  font-family: 'Montserrat' !important;
  font-size: 14px;
  color: #4A4A4A;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
}

.pw-link{
  margin-bottom: 20px;
}

.help-link{
  margin-top: 30px;
}

.admin-page-header{
  margin: 40px 0px 20px 0px;
}

.sub-header{
  display: block;
  margin-bottom: 30px;
}

.restaurants-table th{
  padding-top:1em !important;
  background-color: rgba(240, 99, 56, 0.5) !important;
}

.rest-head{
  display: block;
  float: left;
  margin-right: 20px;
}

.restaurant-add-btn button{
  font-family: 'Montserrat' !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  color: #FFFFFF !important;
  letter-spacing: 0 !important;
  background: #F06338 !important;
  width: 119px !important;
  height: 34px !important;
  padding: 0px !important;
}

.restaurant-add-btn button i{
  font-size: 14px !important;
}

.filter-row{
  margin-bottom: 20px;
}

.date-range-pic-label{
  padding-top:8px;
  padding-right:0px !important;
  padding-left:0px !important;
  font-size:15px !important;
}

.rest-item-name,
.rest-item-name:hover{
  color: #F1683F;
  line-height: 22px;
  font-weight:bold;
}

.item-sub-menu{
  border: none !important;
  padding: 5px 0px 0px 0px !important;
  height: auto !important;
  margin: 0px !important;
  display: block;
  float: right;
  background: none !important;
  min-height: 0px !important;
  min-width: 0px !important;
  box-shadow: none !important;
}

.item-sub-menu .button,
.item-sub-menu .button:hover{
  color:#F06338 !important;
}

.pagination-table div.pagination{
  margin:30px 0px !important;
  border: none !important;
  box-shadow: none !important;
}

.pagination-table a.item{
  font-size: 18px;
  font-weight:bold !important;
  color: #4A4A4A !important;
  letter-spacing: 0;
  font-family: 'Montserrat', sans-serif !important;

  display: block;
  width: 30px !important;
  height: 30px !important;
  padding: 5px 10px !important;
  min-width: 0px !important;
  margin: 0px 10px;
}

.pagination-table a.item:hover{
  background: none !important;
}

.pagination-table a.active,
.pagination-table a.active:hover{
  background: #F06338 !important;
  color: #fff !important;
  border-radius: 100%;
}

.pagination-table a.icon{
  padding: 10px 40px !important;
}

.pagination-table a.item::before{
  display: none;
}

.bom-popup-container textarea{
  width:100% !important;
  border: 1px solid #D8D8D8 !important;
  padding:20px !important;
}

.bom-modal-title{
  font-family: 'Montserrat', sans-serif !important;
  font-size: 22px;
  font-weight: bold;
  color: #444444;
  letter-spacing: 0;
}

.bom-modal .close{
  color:#F06338 !important;
  font-size: 40px !important;
}

.bom-modal button{
  font-family: 'Montserrat', sans-serif !important;
  font-size: 18px;
}

.bom-modal-content-left{
  border-right: 1px solid #D8D8D8;
  padding-bottom:20px;
}

.bom-modal-content-bottom{
  border-top: 1px solid #D8D8D8;
  padding-top:20px;
}

.bom-bottom-btn{
  margin-top:20px;
  text-align:center;
}

.set-hrs-btn,
.set-hrs-btn:hover{
  padding-left:0px !important;
  padding-right:0px !important;
  background: #F06338 !important;
  width:100% !important;
  color: #fff !important;
}

.bom-cancel-btn{
  float:right;
}

.bom-cancel-btn,
.bom-save-btn{
  width: 200px !important;
}

.bom-cancel-btn,
.bom-save-btn,
.bom-save-another-btn{
  height:50px !important;
}

.bom-cancel-btn,
.bom-save-btn,
.bom-save-another-btn,
.bom-cancel-btn:hover,
.bom-save-btn:hover,
.bom-save-another-btn:hover{
  color:#fff !important;
}

.bom-cancel-btn,
.bom-cancel-btn:hover{
  background: #D12C40 !important;
}

.bom-save-btn,
.bom-save-btn:hover{
  background: #4A90E2 !important;
}

.bom-save-another-btn:hover,
.bom-save-another-btn{
  background: #3CAD49 !important;
}

.bom-save-another-btn{
  width:440px !important;
}

.blocked-item,
.blocked-item:hover{
  color: #ccc;
  cursor: not-allowed;
}